<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->


<configuration>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\СовременныеТП\Hospital Web App\HospitalWebApplication. Версия 4\HospitalWebApplication\App_Data\HospitalDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="HospitalDatabaseEntities" connectionString="metadata=res://*/HospitalEntityFrameworkModel.csdl|res://*/HospitalEntityFrameworkModel.ssdl|res://*/HospitalEntityFrameworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\HospitalDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>




  
  
  
  
  
  
</configuration>
